body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    padding: 0;
    margin: 0;
}


div.name {
    position: static;
    padding: 0;
    padding-top: 20mm;
    text-align: center;
    font-size: 20mm;
    color: aliceblue;
    font-family: fantasy;
}

div.NavBar {
    list-style-type: none;
    text-align: center;
    background-color: grey;
    padding: 0;
    margin: 0;
    position: fixed;
    float:none;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
    font-size: 7mm;
}

li {
    text-align: center;
    padding: 0;
    text-decoration: solid;

}

a {
    display: inline;
    width: 80px;
    
}

li :hover {
    background-color: rgb(77, 76, 76);
    font-size: 6mm;
    color: white;
}